.reg_field {
	display:block;
	width:200px;
	padding:5px;
	border:1px solid #f3f3f3;
	margin:5px;
}
.reg_field span {
	display:block;
	font-weight:bold;
	font-size:16px;
}
.reg_field span span {
	float:right;
	display:inline-block;
}
.reg_field div {
	display:none;
	float:right;
}

.reg_field_sel {
	border:1px solid #999;
	background-color:#f0f0f0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(http://weskate.ro/scripts/js/border-radius.htc);
	display:block;
	width:200px;
	padding:5px;
	margin:5px;
}

.reg_field_sel span span {
	float:right;
	display:inline-block;
}

.reg_field_sel span {
	display:block;
	font-weight:bold;
	font-size:16px;
}

.reg_field_sel div {
	position:absolute;
	right:0px;
	display:block;
	width:200px;
	float:right;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(http://weskate.ro/scripts/js/border-radius.htc);
	background-color:#cfc;
	font-size:12px;
	border:1px solid #999;
	padding:3px;
}
.reg_field:hover {
	border:1px solid #999;
	background-color:#f0f0f0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(http://weskate.ro/scripts/js/border-radius.htc);
}

.reg_field:hover div {
	position:absolute;
	right:0px;
	display:block;
	width:200px;
	float:right;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(http://weskate.ro/scripts/js/border-radius.htc);
	background-color:#cfc;
	font-size:12px;
	border:1px solid #999;
	padding:3px;
}
.passStr {
	width:25px;
	position:relative;
	display:block;
	border:1px solid #555;
	height:16px;
}
.passStr span {
	display:block;
	height:16px;
	position:absolute;
	left:0px;
	background-image:url(http://img.weskate.ro/look/degradeu.png);
	background-repeat:repeat-x;
}
