.capmain {
font-family: Verdana, Arial, Halvetica, sans-serif;
font-size: 30px;
color:#CC3681;
padding-left:10px;
padding-bottom: 10px;
}

.capmain_color {
font-family: Verdana, Arial, Halvetica, sans-serif;
color:#CC3681;
}

.bara {
	background-color:#de8c8c;
	background-image:url(http://img.weskate.ro/look/degradeu.png);
	background-repeat:repeat-x;
}
.header-umbra {
	background-position:0px -80px;
}
